<!DOCTYPE html>
<html lang="{{ app.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="title" content="{{ block('meta_title') }}">
        <meta name="description" content="{% block meta_description %}{{ 'app.meta.description'|trans }}{% endblock %}">
        <meta name="author" content="Romain Monteil">
        <meta name="view-transition" content="same-origin">

        {% block meta_turbo %}
            <!-- turbo -->
            <meta name="turbo-refresh-method" content="morph">
            <meta name="turbo-refresh-scroll" content="preserve">
        {% endblock %}

        {% block meta_social %}
            <!-- open graph / facebook -->
            <meta property="og:title" content="{{ block('meta_title') }}">
            <meta property="og:description" content="{{ block('meta_description') }}">
            <meta property="og:type" content="website" />
            <meta property="og:site_name" content="{{ 'app.meta.title'|trans }}">
            <meta property="og:url" content="{{ block('meta_canonical') }}">
            <meta property="og:locale" content="{{ app.locale }}">

            <!-- twitter -->
            <meta name="twitter:card" content="summary">
            <meta name="twitter:title" content="{{ block('meta_title') }}">
            <meta name="twitter:description" content="{{ block('meta_description') }}">
            <meta name="twitter:site" content="@ker0x">
            <meta name="twitter:creator" content="@ker0x">
        {% endblock %}

        {% block meta_frankenphp %}
            {% if app.request.server.has('FRANKENPHP_HOT_RELOAD') %}
                <meta name="frankenphp-hot-reload:url" content="{{ app.request.server.get('FRANKENPHP_HOT_RELOAD') }}">
            {% endif %}
        {% endblock %}

        <title>{% block meta_title %}{{ 'app.meta.title'|trans }}{% endblock %}</title>

        {% block stylesheets %}{% endblock %}

        {% block javascripts %}
            {% block importmap %}
                {{ importmap('app') }}
            {% endblock %}

            {% if app.request.server.has('FRANKENPHP_HOT_RELOAD') %}
                <script src="https://cdn.jsdelivr.net/npm/idiomorph"></script>
                <script src="https://cdn.jsdelivr.net/npm/frankenphp-hot-reload/+esm" type="module"></script>
            {% endif %}
        {% endblock %}

        <link rel="icon"
              href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>🔮</text></svg>">
        <link rel="canonical"
              href="{% block meta_canonical app.current_route ? url(app.current_route, app.current_route_parameters) : '' %}" />
    </head>
    <body class="bg-muted">
        {% block body %}{% endblock %}
    </body>
</html>
