{% use 'form_div_layout.html.twig' %}

{# Widgets #}

{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    {%- if type == 'hidden' -%}
        {{- parent() -}}
    {%- else -%}
        {%- set attr_class = block('class_input_text') -%}
        {%- if type == 'range' -%}
            {%- set attr_class = block('class_input_range') -%}
        {%- elseif type == 'file' -%}
            {%- set attr_class = block('class_input_file') -%}
        {%- endif -%}
        {%- set attr = attr|merge({'data-slot': 'input', class: (attr_class ~ ' ' ~ attr.class|default(''))|trim|tailwind_merge}) -%}
        {{- parent() -}}
    {%- endif -%}
{%- endblock form_widget_simple -%}

{%- block textarea_widget -%}
    {%- set attr_class = block('class_textarea') ~ ' ' ~ attr.class|default('') -%}
    {%- set attr = attr|merge({'data-slot': 'textarea', class: attr_class|trim|tailwind_merge}) -%}
    {{- parent() -}}
{%- endblock textarea_widget -%}

{%- block choice_widget_collapsed -%}
    {%- set attr_class = block('class_select') ~ ' ' ~ attr.class|default('') -%}
    {%- set attr = attr|merge({'data-slot': 'select', class: attr_class|trim|tailwind_merge}) -%}
    {{- parent() -}}
{%- endblock choice_widget_collapsed -%}

{%- block checkbox_widget -%}
    {%- set attr_class = block('class_input_checkbox') ~ ' ' ~ attr.class|default('') -%}
    {%- set attr = attr|merge({class: attr_class|trim|tailwind_merge}) -%}
    {{- form_label(form, null, {widget: parent()}) -}}
{%- endblock checkbox_widget -%}

{%- block radio_widget -%}
    {%- set attr_class = block('class_input_radio') ~ ' ' ~ attr.class|default('') -%}
    {%- set attr = attr|merge({class: attr_class|trim|tailwind_merge}) -%}
    {{- form_label(form, null, {widget: parent()}) -}}
{%- endblock radio_widget -%}

{%- block date_widget -%}
    {%- if widget == 'single_text' -%}
        {{ block('form_widget_simple') }}
    {%- else -%}
        {%- set attr = attr|merge({class: attr.class|default('flex')|trim}) -%}
        {%- set attr_class_error = '' -%}
        {%- if not valid -%}
            {%- set attr_class_error = ' ' ~ block('class_input_error') -%}
        {%- endif -%}
        <div {{ block('widget_container_attributes') }}>
            {{- date_pattern|replace({
                '{{ year }}': form_widget(form.year, {attr: {class: (block('class_widget_addon_append') ~ ' ' ~ attr_class_error|trim|tailwind_merge)}}),
                '{{ month }}': form_widget(form.month, {attr: {class: (block('class_widget_addon_prepend') ~ ' ' ~ attr_class_error|trim|tailwind_merge)}}),
                '{{ day }}': form_widget(form.day, {attr: {class: ('rounded-none' ~ attr_class_error)|trim|tailwind_merge}}),
            })|raw -}}
        </div>
    {%- endif -%}
{%- endblock date_widget -%}

{%- block submit_widget -%}
    {%- set button_attr_class = block('class_submit') ~ ' ' ~ attr.class|default('') -%}
    {%- set attr = attr|merge({class: button_attr_class|trim|tailwind_merge}) -%}
    {{- parent() -}}
{%- endblock submit_widget -%}

{# Labels #}

{%- block form_label -%}
    {% if label is not same as(false) -%}
        {%- set label_attr_class = (valid ? block('class_label') : block('class_label_error')) ~ ' ' ~ label_attr.class|default('') -%}
        {%- set label_attr = label_attr|merge({'data-slot': 'field-label', class: label_attr_class|trim|tailwind_merge}) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({for: id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        <{{ element|default('label') }}{% with {attr: label_attr} %}{{ block('attributes') }}{% endwith %}>
        {{- block('form_label_content') -}}
        </{{ element|default('label') }}>
    {%- endif -%}
{%- endblock form_label -%}

{%- block checkbox_radio_label -%}
    {#- Do not display the label if widget is not defined in order to prevent double label rendering -#}
    {%- if widget is defined -%}
        {%- if checked and form.parent.vars.valid == false -%}
            {%- set valid = false -%}
        {%- endif -%}
        {%- set label_attr_class = (valid ? block('class_label') : block('class_label_error')) ~ ' ' ~ label_attr.class|default('') -%}
        {%- set label_attr = label_attr|merge({'data-slot': 'field-label', class: label_attr_class|trim|tailwind_merge}) -%}
        {%- if not compound -%}
            {% set label_attr = label_attr|merge({for: id}) %}
        {%- endif -%}
        <div class="flex flex-row items-center gap-2">
            {{- widget|raw -}}
            {%- if label is not same as(false) -%}
                <label{% with {attr: label_attr} %}{{ block('attributes') }}{% endwith %}>
                    {{- block('form_label_content') -}}
                </label>
            {%- endif -%}
        </div>
    {%- endif -%}
{%- endblock checkbox_radio_label %}

{% block checkbox_label -%}
    {{- block('checkbox_radio_label') -}}
{%- endblock checkbox_label %}

{% block radio_label -%}
    {{- block('checkbox_radio_label') -}}
{%- endblock radio_label %}

{# Rows #}

{%- block form_row -%}
    {%- set row_attr_class = block('class_row') ~ ' ' ~ row_attr.class|default('') -%}
    {%- set row_attr = row_attr|merge({'data-slot': 'field', class: row_attr_class|trim|tailwind_merge}) -%}
    {%- if compound is defined and compound -%}
        {%- set element = 'fieldset' -%}
    {%- endif -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~ '_help'}} -%}
    {%- endif -%}
    <{{ element|default('div') }}{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        {{- form_label(form) -}}
        {{- form_widget(form, widget_attr) -}}
        {{- form_errors(form) -}}
        {{- form_help(form) -}}
    </{{ element|default('div') }}>
{%- endblock form_row -%}

{# Help #}

{% block form_help -%}
    {%- if help is not empty -%}
        {%- set help_attr_class = block('class_help_text') ~ ' ' ~ help_attr.class|default('') -%}
        {%- set help_attr = help_attr|merge({'data-slot': 'field-description', class: help_attr_class|trim|tailwind_merge}) -%}
        <p id="{{ id }}_help"{% with {attr: help_attr} %}{{ block('attributes') }}{% endwith %}>
            {{- block('form_help_content') -}}
        </p>
    {%- endif -%}
{%- endblock form_help %}

{# Misc #}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        {%- for key, error in errors -%}
            <p id="{{ id }}_error_{{ key }}" data-slot="field-description" class="{{ block('class_text_error') }}">{{ error.message }}</p>
        {%- endfor -%}
    {%- endif -%}
{%- endblock form_errors -%}

{# Support #}

{%- block widget_attributes -%}
    {%- set attr_class = attr.class|default('') -%}
    {%- if not valid %}
        {%- set attr_class = attr_class ~ ' ' ~ block('class_input_error') -%}
    {% endif -%}
    {%- if disabled %}
        {%- set attr_class = attr_class ~ ' ' ~ block('class_input_disabled') -%}
    {% endif -%}
    {%- set attr = attr|merge({class: attr_class|trim|tailwind_merge}) -%}
    {{ parent() }}
{%- endblock widget_attributes -%}

{# Class #}

{% block class_row -%}
    data-[invalid=true]:text-destructive gap-2 group/field flex w-full flex-col *:w-full [&>.sr-only]:w-auto
{%- endblock %}

{% block class_label -%}
    {{ html_classes(
        'has-data-checked:bg-primary/5 has-data-checked:border-primary/30 gap-2 group-data-[disabled=true]/field:opacity-50 has-[>[data-slot=field]]:rounded-lg has-[>[data-slot=field]]:border *:data-[slot=field]:p-2.5 group/field-label peer/field-label flex w-fit leading-snug',
        'has-[>[data-slot=field]]:w-full has-[>[data-slot=field]]:flex-col',
    ) }}
{%- endblock %}

{% block class_input_radio_label -%}
    ml-2 text-sm font-medium text-gray-900
{%- endblock class_input_radio_label %}

{% block class_input_text -%}
    border-input focus-visible:border-ring focus-visible:ring-ring/50 aria-invalid:ring-destructive/20 aria-invalid:border-destructive disabled:bg-input/50 h-8 rounded-md border bg-transparent px-2.5 py-1 text-base transition-colors file:h-6 file:text-sm file:font-medium focus-visible:ring-3 aria-invalid:ring-3 md:text-sm file:text-foreground placeholder:text-muted-foreground w-full min-w-0 outline-none file:inline-flex file:border-0 file:bg-transparent disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50
{%- endblock %}

{% block class_select -%}
    {{ block('class_input_text') }}
{%- endblock %}

{% block class_textarea -%}
    border-input focus-visible:border-ring focus-visible:ring-ring/50 aria-invalid:ring-destructive/20 aria-invalid:border-destructive disabled:bg-input/50 rounded-md border bg-transparent px-2.5 py-2 text-base transition-colors focus-visible:ring-3 aria-invalid:ring-3 md:text-sm placeholder:text-muted-foreground flex field-sizing-content min-h-16 w-full outline-none disabled:cursor-not-allowed disabled:opacity-50
{%- endblock %}

{% block class_input_radio -%}
    size-4 text-gray-900 bg-white border-gray-300 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-gray-900
{%- endblock class_input_radio %}

{% block class_input_checkbox -%}
    rounded-md {{ block('class_input_radio') }}
{%- endblock class_input_checkbox %}

{% block class_submit -%}
    inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium bg-gray-900 text-white shadow-xs hover:bg-gray-900/90 w-full md:w-auto px-4 py-2 transition ease-linear duration-500
{%- endblock class_submit %}

{% block class_widget_addon_prepend -%}
    rounded-r-none
{%- endblock class_widget_addon_prepend %}

{% block class_widget_addon_append -%}
    rounded-l-none
{%- endblock class_widget_addon_append %}

{% block class_help_text -%}
    {{ html_classes(
        'text-muted-foreground text-sm leading-normal font-normal group-has-[[data-orientation=horizontal]]/field:text-balance',
        'last:mt-0 nth-last-2:-mt-1 [[data-variant=legend]+&]:-mt-1.5',
        '[&>a:hover]:text-primary [&>a]:underline [&>a]:underline-offset-4',
    ) }}
{%- endblock class_help_text %}

{% block class_label_error -%}
    {{ block('class_label') }} text-destructive
{%- endblock %}

{% block class_input_error -%}
    ring-destructive/20 border-destructive
{%- endblock %}

{% block class_text_error -%}
    text-destructive text-sm
{%- endblock %}
