{% extends 'base.html.twig' %}

{% block meta_title %}
    {{ project.title }} | {{ parent() }}
{% endblock %}

{% block body %}
    <article>
        <h1>{{ project.title }}</h1>
        <h3>{{ project.subTitle }}</h3>
        <div>{{ project.description }}</div>
    </article>
{% endblock %}
