<div {{ attributes.defaults({'data-slot': 'contact-form'}) }}>
    <twig:Card:Card class="w-full">
        <twig:Card:CardHeader>
            <twig:Card:CardDescription>
                {{ 'home.section.contact.text'|trans|raw }}
            </twig:Card:CardDescription>
        </twig:Card:CardHeader>
        <twig:Card:CardContent class="grid gap-4">
            {% for alert in app.flashes('alert') %}
                <twig:Alert:Alert :variant="alert.status.value">
                    <twig:Ux:Icon name="tabler:circle-check"/>
                    <twig:Alert:AlertTitle>
                        {{ alert.message|trans(domain: 'alert') }}
                    </twig:Alert:AlertTitle>
                </twig:Alert:Alert>
            {% endfor %}
            {{ form_start(form, {
                attr: {
                    id: form.vars.id,
                    'data-action': 'live#action:prevent',
                    'data-live-action-param': 'send',
                },
            }) }}
                <div class="grid grid-cols-1 md:grid-cols-2 gap-x-3">
                    {{ form_row(form.fullName) }}
                    {{ form_row(form.company) }}
                </div>
                {{ form_row(form.email) }}
                {{ form_row(form.content) }}
            {{ form_end(form) }}
        </twig:Card:CardContent>
    </twig:Card:Card>
</div>
