{% extends 'app/base.html.twig' %}

{% block meta_title %}
    {{ 'home.title'|trans }} | {{ parent() }}
{% endblock %}

{% block body %}
    <section class="h-dvh flex flex-col items-center justify-center">
        <picture class="size-80 mb-16">
            <img
                class="size-full rounded-full bg-yellow-500"
                src="{{ asset('images/profile.png') }}"
                alt=""
                width="500"
                height="500"
                loading="lazy"
                decoding="async"
            >
        </picture>
        <h6 class="font-medium text-gray-600 text-lg md:text-2xl uppercase mb-8">{{ 'home.section.about.surtitle'|trans }}</h6>
        <h1 class="font-normal text-gray-900 text-4xl md:text-7xl leading-none mb-8">{{ 'home.section.about.title'|trans }}</h1>
        <p class="font-normal text-gray-600 text-md md:text-xl mb-16">
            {%- set php -%}
                <twig:TextHighlight color="purple" class="mx-0.5">PHP</twig:TextHighlight>
            {%- endset -%}

            {%- set symfony -%}
                <twig:TextHighlight color="black" class="mx-0.5">Symfony</twig:TextHighlight>
            {%- endset -%}

            {{ 'home.section.about.subtitle'|trans({
                php: php,
                symfony: symfony,
            })|raw }}
        </p>
        <a
            class="px-7 py-3 md:px-9 md:py-4 font-medium md:font-semibold bg-gray-700 text-gray-50 text-sm rounded-md hover:bg-gray-900 transition ease-linear duration-500"
            href="#contact"
            data-controller="scroll-to"
        >
            {{ 'home.section.contact.title'|trans }}
        </a>
    </section>
    <section id="github-project" class="py-10 md:py-16">
        <twig:GithubProject class="container max-w-(--breakpoint-xl) mx-auto px-4" />
    </section>
    <section id="experience" class="py-10 md:py-16">
        <div class="container max-w-(--breakpoint-xl) mx-auto px-4">
            <h2 class="font-medium text-gray-700 text-3xl md:text-4xl mb-5">{{ 'home.section.experience.title'|trans }}</h2>
            <p class="font-normal text-gray-500 text-xs md:text-base mb-20">{{ 'home.section.experience.subtitle'|trans }}</p>
            <table class="min-w-full">
                <thead>
                    <tr>
                        <th scope="col" class="text-gray-400 text-base text-left font-medium uppercase">
                            {{ 'home.section.experience.table.col.company'|trans }}
                        </th>
                        <th scope="col" class="text-gray-400 text-base text-left font-medium uppercase">
                            {{ 'home.section.experience.table.col.position'|trans }}
                        </th>
                        <th scope="col" class="text-gray-400 text-base text-left font-medium uppercase">
                            {{ 'home.section.experience.table.col.year'|trans }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Romain Monteil</td>
                        <td>Freelance</td>
                        <td>2023</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section id="contact" class="py-10 md:py-16">
        <div class="container max-w-(--breakpoint-xl) mx-auto px-4">
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
                <div>
                    <h2 class="font-medium text-gray-700 text-3xl md:text-4xl mb-5">{{ 'home.section.contact.title'|trans }}</h2>
                    <p class="font-normal text-gray-500 text-xs md:text-base mb-20">{{ 'home.section.contact.subtitle'|trans|raw }}</p>
                </div>
                <twig:ContactForm class="bg-gray-50 flex flex-col px-8 py-10 rounded-md md:col-span-2">
                    <p class="font-normal text-gray-500 text-sm md:text-base mb-3">{{ 'home.section.contact.text'|trans|raw }}</p>
                </twig:ContactForm>
            </div>
        </div>
    </section>
    <section id="faq" class="py-10 md:py-16">
        <div class="container max-w-(--breakpoint-xl) mx-auto px-4">
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
                <div>
                    <h2 class="font-medium text-gray-700 text-3xl md:text-4xl mb-5">{{ 'home.section.faq.title'|trans }}</h2>
                    <p class="font-normal text-gray-500 text-base md:text-md">{{ 'home.section.faq.subtitle'|trans }}</p>
                </div>
                <div class="space-y-24 md:col-span-2">
                    <div class="flex space-x-6">
                        <span class="font-normal text-gray-700 text-3xl md:text-4xl">01</span>
                        <span class="w-14 h-0.5 bg-gray-300 mt-5"></span>
                        <div>
                            <h3 class="font-normal text-gray-700 text-3xl md:text-4xl mb-5">{{ 'home.section.faq.dl.dt_1'|trans }}</h3>
                            <p class="font-normal text-gray-500 text-sm md:text-base">{{ 'home.section.faq.dl.dd_1'|trans({status: 'available'}) }}</p>
                        </div>
                    </div>
                    <div class="flex space-x-6">
                        <span class="font-normal text-gray-700 text-3xl md:text-4xl">02</span>
                        <span class="w-14 h-0.5 bg-gray-300 mt-5"></span>
                        <div>
                            <h3 class="font-normal text-gray-700 text-3xl md:text-4xl mb-5">{{ 'home.section.faq.dl.dt_2'|trans }}</h3>
                            <p class="font-normal text-gray-500 text-sm md:text-base">
                                {%- set daily_price -%}
                                    <twig:TextHighlight class="mx-0.5">
                                        {{- 'home.section.faq.dl.dd_2_price'|trans -}}
                                    </twig:TextHighlight>
                                {%- endset -%}

                                {{- 'home.section.faq.dl.dd_2'|trans({
                                    daily_price: daily_price
                                })|raw -}}
                            </p>
                        </div>
                    </div>
                    <div class="flex space-x-6">
                        <span class="font-normal text-gray-700 text-3xl md:text-4xl">03</span>
                        <span class="w-14 h-0.5 bg-gray-300 mt-5"></span>
                        <div>
                            <h3 class="font-normal text-gray-700 text-3xl md:text-4xl mb-5">{{ 'home.section.faq.dl.dt_3'|trans }}</h3>
                            <p class="font-normal text-gray-500 text-sm md:text-base">
                                {{ 'home.section.faq.dl.dd_3'|trans }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
