{% extends 'app/base_website.html.twig' %}

{% block meta_title %}
    {{ 'website.index.title'|trans }} | {{ parent() }}
{% endblock %}

{% block main %}
    <header
        class="h-dvh container max-w-screen-xl mx-auto flex flex-col items-center justify-center p-4 md:px-8 lg:px-16">
        <picture class="size-80 mb-8 lg:mb-16">
            <img
                class="size-full rounded-full bg-jade-4"
                src="{{ asset('images/profile.webp') }}"
                alt=""
                width="500"
                height="500"
                fetchpriority="high"
            >
        </picture>
        <div class="text-center">
            <h6 class="font-medium text-muted-foreground text-lg md:text-xl lg:text-2xl uppercase mb-8">{{- 'website.index.section.about.surtitle'|trans -}}</h6>
            <h1 class="font-normal text-primary text-4xl md:text-5xl lg:text-7xl leading-none mb-8">{{- 'website.index.section.about.title'|trans -}}</h1>
            <p class="font-normal text-muted-foreground text-md md:text-lg lg:text-xl leading-loose mb-16">
                {%- set php -%}
                    <twig:TextHighlight variant="purple" class="mx-0.5">PHP</twig:TextHighlight>
                {%- endset -%}

                {%- set symfony -%}
                    <twig:TextHighlight variant="black" class="mx-0.5">Symfony</twig:TextHighlight>
                {%- endset -%}

                {{- 'website.index.section.about.subtitle'|trans({
                    php: php,
                    symfony: symfony,
                })|raw -}}
            </p>
            <twig:Button
                size="lg"
                href="#contact"
                data-controller="scroll-to"
                class="h-12 px-7 md:px-9"
            >
                {{- 'website.index.section.contact.title'|trans -}}
            </twig:Button>
        </div>
    </header>
    <main class="container max-w-screen-xl mx-auto px-4 md:px-8 lg:px-16">
        <twig:Section id="open-source-projects">
            <twig:Section:SectionHeader class="mb-10 lg:mb-20">
                <twig:Section:SectionTitle>{{ 'website.index.section.open_source.title'|trans }}</twig:Section:SectionTitle>
                <twig:Section:SectionDescription>{{ 'website.index.section.open_source.subtitle'|trans }}</twig:Section:SectionDescription>
            </twig:Section:SectionHeader>
            <twig:Section:SectionContent>
                <twig:GithubProjects/>
            </twig:Section:SectionContent>
        </twig:Section>
        <twig:Section id="experience">
            <twig:Section:SectionHeader class="mb-10 lg:mb-20">
                <twig:Section:SectionTitle>{{ 'website.index.section.experience.title'|trans }}</twig:Section:SectionTitle>
                <twig:Section:SectionDescription>{{ 'website.index.section.experience.subtitle'|trans }}</twig:Section:SectionDescription>
            </twig:Section:SectionHeader>
            <twig:Section:SectionContent>
                <twig:Timeline>
                    {% for experience in experiences %}
                        <twig:Timeline:TimelineItem>
                            <twig:Timeline:TimelineDate>
                                <twig:Timeline:TimelineDescription class="lg:text-end">
                                    {{ experience.startAt|format_date(pattern: 'MMM Y') }} - {{ experience.endAt|format_date(pattern: 'MMM Y') }}
                                </twig:Timeline:TimelineDescription>
                                <twig:Timeline:TimelineIcon>
                                    {% if experience.type.isFreelance %}
                                        <twig:Ux:Icon name="lucide:briefcase-business" class="size-5"/>
                                    {% elseif experience.type.isPersonal %}
                                        <twig:Ux:Icon name="lucide:spotlight" class="size-5"/>
                                    {% else %}
                                        <twig:Ux:Icon name="lucide:building" class="size-5"/>
                                    {% endif %}
                                </twig:Timeline:TimelineIcon>
                            </twig:Timeline:TimelineDate>
                            <twig:Timeline:TimelineContent>
                                <twig:Card size="lg">
                                    <twig:Card:CardHeader>
                                        <twig:Card:CardTitle>
                                            {{ experience.company }}
                                            <span class="font-normal text-sm text-muted-foreground">/ {{ experience.type|trans }}</span>
                                        </twig:Card:CardTitle>
                                        <twig:Card:CardDescription class="italic">{{ experience.position|trans }}</twig:Card:CardDescription>
                                    </twig:Card:CardHeader>
                                    {% if experience.technologies is not empty or experience.description is not empty %}
                                        <twig:Card:CardContent class="flex flex-col gap-6">
                                            {% if experience.technologies is not empty %}
                                                <div class="flex flex-wrap gap-2">
                                                    {% for technology in experience.technologies %}
                                                        <twig:Badge variant="secondary">{{ technology }}</twig:Badge>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}

                                            {% if experience.description is not empty %}
                                                <div>
                                                    {{ experience.description|markdown_to_html }}
                                                </div>
                                            {% endif %}
                                        </twig:Card:CardContent>
                                    {% endif %}
                                </twig:Card>
                            </twig:Timeline:TimelineContent>
                        </twig:Timeline:TimelineItem>
                    {% endfor %}
                </twig:Timeline>
            </twig:Section:SectionContent>
        </twig:Section>
        <twig:Section id="contact">
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
                <twig:Section:SectionHeader class="mb-10 lg:mb-0">
                    <twig:Section:SectionTitle>{{ 'website.index.section.contact.title'|trans }}</twig:Section:SectionTitle>
                    <twig:Section:SectionDescription>{{ 'website.index.section.contact.subtitle'|trans }}</twig:Section:SectionDescription>
                </twig:Section:SectionHeader>
                <twig:Section:SectionContent class="lg:col-span-2">
                    <twig:Turbo:Frame
                        id="contact-form-container"
                        loading="lazy"
                        src="{{ path('app_contact_index') }}"
                        data-slot="contact-form"
                    />
                </twig:Section:SectionContent>
            </div>
        </twig:Section>
        <twig:Section id="faq">
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
                <twig:Section:SectionHeader class="mb-10 lg:mb-0">
                    <twig:Section:SectionTitle>{{ 'website.index.section.faq.title'|trans }}</twig:Section:SectionTitle>
                    <twig:Section:SectionDescription>{{ 'website.index.section.faq.subtitle'|trans }}</twig:Section:SectionDescription>
                </twig:Section:SectionHeader>
                <twig:Section:SectionContent class="space-y-24 lg:col-span-2">
                    <twig:Faq>
                        <twig:Faq:FaqTitle>{{ 'website.index.section.faq.dl.dt_1'|trans }}</twig:Faq:FaqTitle>
                        <twig:Faq:FaqDescription>
                            {%- set available -%}
                                <twig:TextHighlight
                                    class="mx-0.5"
                                    variant="{{ settings.available ? 'yellow' : 'red' }}"
                                >
                                    {{- 'website.index.section.faq.dl.dd_1_available'|trans({available: settings.available ? 'yes' : 'no'}) -}}
                                </twig:TextHighlight>
                            {%- endset -%}

                            {{- 'website.index.section.faq.dl.dd_1'|trans({available: available})|raw -}}
                        </twig:Faq:FaqDescription>
                        {% if not settings.available and settings.availableAt %}
                            {%- set availableAt -%}
                                <twig:TextHighlight class="mx-0.5">
                                    {{- settings.availableAt|format_date(pattern: 'MMMM Y') -}}
                                </twig:TextHighlight>
                            {%- endset -%}

                            <twig:Faq:FaqDescription>
                                {{- 'website.index.section.faq.dl.dd_1_available_at'|trans({available_at: availableAt})|raw -}}
                            </twig:Faq:FaqDescription>
                        {% endif %}
                    </twig:Faq>
                    <twig:Faq number="02">
                        <twig:Faq:FaqTitle>{{ 'website.index.section.faq.dl.dt_2'|trans }}</twig:Faq:FaqTitle>
                        <twig:Faq:FaqDescription>
                            {%- set daily_price -%}
                                <twig:TextHighlight class="mx-0.5">
                                    {{- 'website.index.section.faq.dl.dd_2_price'|trans({price: settings.averageDailyRate}) -}}
                                </twig:TextHighlight>
                            {%- endset -%}

                            {{- 'website.index.section.faq.dl.dd_2'|trans({
                                daily_price: daily_price,
                            })|raw -}}
                        </twig:Faq:FaqDescription>
                    </twig:Faq>
                    <twig:Faq number="03">
                        <twig:Faq:FaqTitle>{{ 'website.index.section.faq.dl.dt_3'|trans }}</twig:Faq:FaqTitle>
                        <twig:Faq:FaqDescription>
                            {{ 'website.index.section.faq.dl.dd_3'|trans }}
                        </twig:Faq:FaqDescription>
                    </twig:Faq>
                </twig:Section:SectionContent>
            </div>
        </twig:Section>
    </main>
{% endblock %}
