{% extends 'app/base_dashboard.html.twig' %}

{% block meta_title %}
    {{ 'dashboard.shared.index.title.meta'|trans }} | {{ parent() }}
{% endblock %}

{% block main_attributes %}class="flex flex-1 flex-col gap-4 p-4"{% endblock %}

{% block main %}
    <div class="grid grid-cols-2 gap-4">
        <twig:Card variant="outline" size="lg">
            <twig:Card:CardHeader>
                <twig:Card:CardTitle>{{ 'dashboard.analytics.index.chart.monthly'|trans }}</twig:Card:CardTitle>
            </twig:Card:CardHeader>
            <twig:Card:CardContent>
                {{ render_chart(monthly_chart, {'data-slot': 'chart'}) }}
            </twig:Card:CardContent>
        </twig:Card>
        <twig:Card variant="outline" size="lg">
            <twig:Card:CardHeader>
                <twig:Card:CardTitle>{{ 'dashboard.analytics.index.chart.daily'|trans }}</twig:Card:CardTitle>
            </twig:Card:CardHeader>
            <twig:Card:CardContent>
                {{ render_chart(daily_chart, {'data-slot': 'chart'}) }}
            </twig:Card:CardContent>
        </twig:Card>
    </div>
{% endblock %}
