{% extends 'base.html.twig' %}

{% block meta_title %}
    {{ 'contact.title'|trans }} | {{ parent() }}
{% endblock %}

{% block body %}
    <div>
        {% if app.session.flashBag.has('alert') %}
            {% for alert in app.flashes('alert') %}
                {{ component('alert', {
                    alert: alert
                }) }}
            {% endfor %}
        {% endif %}

        {{ form_start(form) }}
            {{ form_row(form) }}

            <button name="submit">{{ 'btn.send'|trans(domain='form') }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
