{% set current_route = app.current_route %}
{% set current_route_params = app.current_route_parameters %}
{% set current_locale = app.request.locale %}

<!DOCTYPE html>
<html lang="{{ current_locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>{% block meta_title %}{{ 'app.meta.title'|trans }}{% endblock %}</title>

    <meta name="title" content="{{ block('meta_title') }}">
    <meta name="description" content="{% block meta_description %}{{ 'app.meta.description'|trans }}{% endblock %}">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="flex h-screen antialiased text-slate-200 bg-slate-900 selection:bg-teal-700">
{% block body %}
    <!-- aside -->
    {{ include('admin/element/_aside.html.twig') }}
    <!-- /aside -->
    <main class="ml-16 lg:ml-64 w-full h-full">
        <div class="pt-6 px-4">
            {% block main %}{% endblock %}
        </div>
    </main>
    {% if app.session.flashBag.has('toast') %}
        {% for alert in app.flashes('toast') %}
            {{ component('alert', {alert: alert}) }}
        {% endfor %}
    {% endif %}
{% endblock %}
</body>
</html>
