{%- props state = 'expanded', variant = 'sidebar', side = 'left', -%}

{%- set gap_style = html_cva(
    base: html_classes(
        'relative w-(--sidebar-width) bg-transparent transition-[width] duration-200 ease-linear',
        'group-data-[collapsible=offcanvas]:w-0',
        'group-data-[side=right]:rotate-180',
    ),
    variants: {
        variant: {
            sidebar: 'group-data-[collapsible=icon]:w-(--sidebar-width-icon)',
        },
    },
    compound_variants: [{
        variant: ['floating', 'inset'],
        class: 'group-data-[collapsible=icon]:w-[calc(var(--sidebar-width-icon)+(--spacing(4)))]',
    }],
) -%}

{%- set container_style = html_cva(
    base: 'fixed inset-y-0 z-10 hidden h-svh w-(--sidebar-width) transition-[left,right,width] duration-200 ease-linear data-[side=left]:left-0 data-[side=left]:group-data-[collapsible=offcanvas]:left-[calc(var(--sidebar-width)*-1)] data-[side=right]:right-0 data-[side=right]:group-data-[collapsible=offcanvas]:right-[calc(var(--sidebar-width)*-1)] md:flex',
    variants: {
        variant: {
            sidebar: 'group-data-[collapsible=icon]:w-(--sidebar-width-icon) group-data-[side=left]:border-r group-data-[side=right]:border-l',
        },
        side: {
            left: 'left-0 group-data-[collapsible=offcanvas]:left-[calc(var(--sidebar-width)*-1)]',
            right: 'right-0 group-data-[collapsible=offcanvas]:right-[calc(var(--sidebar-width)*-1)]',
        },
    },
    compound_variants: [{
        variant: ['floating', 'inset'],
        class: 'p-2 group-data-[collapsible=icon]:w-[calc(var(--sidebar-width-icon)+(--spacing(4))+2px)]',
    }],
) -%}

{#- Template -#}

<div
    data-slot="sidebar"
    data-state="{{ state }}"
    data-collapsible="{{ state == 'collapsed' ? 'collapsible' : '' }}"
    data-variant="{{ variant }}"
    data-side="{{ side }}"
    class="group peer text-sidebar-foreground hidden md:block"
>
    {# This is what handles the sidebar gap on desktop #}
    <div
        data-slot="sidebar-gap"
        class="{{ gap_style.apply({variant: variant})|tailwind_merge }}"
    >
    </div>
    <div
        data-slot="sidebar-container"
        class="{{ container_style.apply({variant: variant, side: side}, attributes.render('class'))|tailwind_merge }}"
        {{ attributes }}
    >
        <nav
            data-slot="sidebar-inner"
            data-sidebar="sidebar"
            class="bg-sidebar group-data-[variant=floating]:ring-sidebar-border group-data-[variant=floating]:rounded-lg group-data-[variant=floating]:shadow-sm group-data-[variant=floating]:ring-1 flex size-full flex-col"
        >
            {%- block content %}{% endblock -%}
        </nav>
    </div>
</div>
