<div
    data-slot="github-projects"
    {{ attributes.defaults({class: 'grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6'}) }}
>
    {% for project in this.projects %}
        <twig:Card size="lg" class="relative justify-between">
            <twig:Card:CardHeader class="items-center">
                <twig:Card:CardTitle class="text-lg" as="h3">{{ project.name }}</twig:Card:CardTitle>
                <twig:Card:CardAction>
                    <twig:Button
                        variant="muted"
                        size="icon"
                        href="{{ project.url }}"
                        target="_blank"
                        title="{{ project.name }}"
                    >
                        <span class="absolute inset-0" aria-hidden="true"></span>
                        <twig:Ux:Icon name="lucide:arrow-up-right" class="size-6 transition-transform group-hover/button:-translate-y-1/4 group-hover/button:translate-x-1/4" />
                    </twig:Button>
                </twig:Card:CardAction>
            </twig:Card:CardHeader>
            <twig:Card:CardContent>
                <twig:Card:CardDescription class="font-normal text-base">{{ project.description }}</twig:Card:CardDescription>
            </twig:Card:CardContent>
            <twig:Card:CardFooter class="gap-4 *:inline-flex *:items-center *:gap-x-1.5">
                <twig:Card:CardDescription>
                    <twig:Ux:Icon name="lucide:star" class="size-5" />
                    {{ project.stargazerCount }}
                </twig:Card:CardDescription>
                <twig:Card:CardDescription>
                    <twig:Ux:Icon name="lucide:git-fork" class="size-5" />
                    {{ project.forkCount }}
                </twig:Card:CardDescription>
            </twig:Card:CardFooter>
        </twig:Card>
    {% endfor %}
</div>
