{% extends 'admin/admin_base.html.twig' %}

{% trans_default_domain 'admin+intl-icu' %}

{% block meta_title %}
    {{ 'dashboard.title'|trans }} | {{ parent() }}
{% endblock %}

{% block main %}
    <div class="grid grid-cols-2 gap-4">
        <div id="latest-posts" class="bg-gray-800 rounded-lg p-8">
            <div class="flex justify-between align-center mb-4">
                <h3 class="font-bold text-xl">{{ 'dashboard.latest_posts'|trans }}</h3>
            </div>
            <div class="relative overflow-x-auto mt-8">
                <table class="w-full text-sm text-left text-gray-400">
                    <thead class="text-xs text-gray-400 uppercase bg-gray-700">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            {{- 'col.title'|trans -}}
                        </th>
                        <th scope="col" class="px-6 py-3">
                            {{- 'col.status'|trans -}}
                        </th>
                        <th scope="col" class="px-6 py-3">
                            {{- 'col.published_at'|trans -}}
                        </th>
                        <th scope="col" class="px-6 py-3">
                            {{- 'col.updated_at'|trans -}}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for post in posts %}
                        <tr class="bg-gray-800 border-b border-gray-700">
                            <th scope="row" class="px-6 py-4 font-medium text-white whitespace-nowrap">
                                {{- post.title -}}
                            </th>
                            <td class="px-6 py-4">
                                {{- component('badge', {
                                    badge: post.publicationStatus
                                }) -}}
                            </td>
                            <td class="px-6 py-4">
                                {{- post.publishedAt|format_date('long') -}}
                            </td>
                            <td class="px-6 py-4">
                                {{- post.updatedAt|format_date('long') -}}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div id="latest-projects" class="bg-gray-800 rounded-lg p-8">
            <div class="flex justify-between align-center mb-4">
                <h3 class="font-bold text-xl">{{ 'dashboard.latest_projects'|trans }}</h3>
            </div>
            <div class="relative overflow-x-auto mt-8">
                <table class="w-full text-sm text-left text-gray-400">
                    <thead class="text-xs text-gray-400 uppercase bg-gray-700">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            {{- 'col.title'|trans -}}
                        </th>
                        <th scope="col" class="px-6 py-3">
                            {{- 'col.type'|trans -}}
                        </th>
                        <th scope="col" class="px-6 py-3">
                            {{- 'col.updated_at'|trans -}}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for project in projects %}
                        <tr class="bg-gray-800 border-b border-gray-700">
                            <th scope="row" class="px-6 py-4 font-medium text-white whitespace-nowrap">
                                {{- project.title -}}
                            </th>
                            <td class="px-6 py-4">
                                {{- component('badge', {
                                    badge: project.type
                                }) -}}
                            </td>
                            <td class="px-6 py-4">
                                {{- project.updatedAt|format_date('long') -}}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
