<div{{ attributes }} class="dropdown">
    <a href="#" id="itemsPerPageDropdown" class="btn btn-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"
       title="{{ 'pagination.items_per_page'|trans({itemsPerPage: currentItemsPerPage}) }}">
        {{- display == constant('App\\Ui\\Twig\\Component\\Pagination\\ItemsPerPageComponent::DISPLAY_SHORT') ? currentItemsPerPage : 'pagination.items_per_page'|trans({itemsPerPage: currentItemsPerPage}) -}}
    </a>
    <ul class="dropdown-menu" aria-labelledby="itemsPerPageDropdown">
        {% for itemsPerPage, url in itemsPerPageUrls %}
            <li>
                <a class="dropdown-item" href="{{ url }}">{{ itemsPerPage }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
