{% extends 'app/base.html.twig' %}

{% block meta_title %}
    {{ status_code }} | {{ parent() }}
{% endblock %}

{% block body %}
    <div class="flex flex-col min-h-svh w-full items-center justify-center p-6 md:p-10">
        <p class="font-medium text-muted-foreground text-lg md:text-2xl uppercase mb-8">{{- status_code -}}</p>
        <h1 class="font-normal text-4xl md:text-7xl leading-none mb-8">
            {{- 'error.title'|trans({status_code: status_code}) -}}
        </h1>
        <p class="font-normal text-muted-foreground text-md md:text-xl leading-loose mb-16">
            {{- 'error.text'|trans({status_code: status_code, status_text: status_text}) -}}
        </p>
        <twig:Button
            size="lg"
            href="{{ path('app_website_shared_index') }}"
            class="h-12 px-7 py-3 md:px-9 md:py-4"
        >
            <twig:Ux:Icon name="lucide:move-left" />
            {{- 'error.back'|trans -}}
        </twig:Button>
    </div>
{% endblock %}

{% block footer %}{% endblock %}
